.container {
  position: relative;
}

.copy {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  transition: color 0.5s ease;
  background: transparent;
  border: none transparent;
  outline: 0;

  &:hover {
    color: coral;
  }
}
